{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .filter {
        background: linear-gradient(90deg,#D2FFEF,#C6E3FF);
    }
    .recommended-content-type {
        font-weight: bold;
        margin-bottom: -20px;
        margin-top: 40px;
    }
    .result {
        margin:40px auto;
    }
    .result-title {
        font-weight: bold;
        color: #327abe;
    }
    .result-attribution {
        color: #327abe;
    }
    .partner-logo {
        max-height: 16px;
        float: left;
        margin-right: 16px;
    }
    .nav-pills > li.active > a {
        font-weight: bold;
    }
    .nav-pills > li > a:hover {
        background-color: aliceblue;
    }
    .padded-menu li {
        padding: 13px 3px;
    }
    .language-menu input {
        margin-left: 2px;
    }
    .language-menu label {
        font-weight: 300;
        padding-left: 5px;
    }
    .filter-detail {
        margin: 16px 0;
    }
    .footer {
        box-shadow: 0 -1px 13px #DADADA;
    }
</style>
{% endblock style %}
{% block content %}
{% include "sti/filterable-results-list.html" %}
{% endblock content %}
