{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<style>
    #visualization-container {
        width: 940px;
        margin: auto;
    }
    rect {
        cursor: pointer;
    }
    text {
        fill: #353d2d;
        pointer-events: none;
    }
    path {
        fill: none;
        stroke-width: 1.5;
        stroke-opacity: 0.7;
    }
    #visualization-background img {
        width: 30px;
        height: 30px;
        margin: 10px auto;
    }
</style>
<div id="visualization-background">
    <div style="height:50px;background-color:#F7FAFC;">
        <center><img src="{% static 'images/TFM_logo.png' %}"/></center>
    </div>
    <div id="visualization-container">
        <svg id="visualization" width="940" height="600" shape-rendering="geometricPrecision">
        </svg>
    </div>
    <script>
        var types = [['\uf02d','Publications'], ['\uf126','Technology Offers'], ['\uf2b5', 'Technology Requests'] , ['\uf0a1','Business Offers'], ['\uf0b1','Business Requests'], ['\uf19c','Funding'], ['\uf2ba','People'], ['\uf073','Events'], ['\uf19d','Training'], ['\uf03a','Services'], ['\uf1b2','Projects']];
        var sources = ['APCTT', 'CITTC', 'UNIDO', 'WIPO GREEN', 'EEN', 'UNFCCC', 'UNOSSC', 'OpenAire', 'UNDESA', 'UNOICT','World Bank', 'CTCN', 'WIPO Match'];
        var typesource = [[6,7,10],[0,1,2,3,4,12],[0,1,3,4,12],[4],[4],[8],[5,8,9],[9,11],[8,9,11],[8,9],[5,11]];
        var gradient = d3.interpolate('#FF3131', '#FF31CD');
        var typeColors = ['#FF5353','#FFD74E','#A453FF','#4E9BFF','#48DFFF','#C2FFF6','#53FF61','#FFAB53','#D241FF','#E3FF53','#53FFBC'];
        var svg = d3.select('#visualization');
        var arc = d3.arc().innerRadius(153).outerRadius(330);
        var pathG = svg.append('g').attr('transform', 'translate(470, 360)');
        var circleG = svg.append('g').attr('transform','translate(470, 360)');
        var arcSize = Math.PI / types.length;
        var i;
        var typeStartPositions = [], typeEndPositions = [];
        var sourceStartPositions = [], sourceEndPositions = [];
        for (i=0; i<types.length; i++) {
            arc.startAngle((i)*arcSize).endAngle((i+1)*arcSize);
            var centroid = arc.centroid();
            typeStartPositions.push([50, 40+i*53-360]);
            typeEndPositions.push([centroid[0]+50, 40+i*53-360]);
        }
        arcSize = Math.PI / sources.length;
        for (i=0; i<sources.length; i++) {
            arc.startAngle(Math.PI + (i*arcSize)).endAngle(Math.PI + ((i+1)*arcSize));
            var centroid = arc.centroid();
            sourceStartPositions.push([-50, 35+i*45-360]);
            sourceEndPositions.push([centroid[0]-50, 35+i*45-360]);
        }
        circleG.selectAll('g.viz-types').data(types).enter().append('g').attr('class','viz-types').attr('data-href', function(d,i) {
            return '/search/?types={%22' + d[1].toLowerCase().replace(' ','') + '%22%3Atrue}';
        })
        .attr('transform',function(d,i) {
            return 'translate(' + typeStartPositions[i] + ')';
        })
        .each(function(d, i) {
            d3.select(this).append('rect').attr('x', 0).attr('y', -23).attr('width',170).attr('height',36).attr('rx',15).attr('ry',25).style('fill', typeColors[i]);
            d3.select(this).append('text').attr('x', 10).attr('y', 0).text(types[i][0]).attr('class','fa');
            d3.select(this).append('text').attr('x', 32).attr('y', 0).text(types[i][1]);
        });
        circleG.selectAll('g.viz-sources').data(sources).enter().append('g').attr('class','viz-sources').attr('data-href', function(d,i) {
            return '/search/?partners={%22' + d.toLowerCase().replace(' ','') + '%22%3Atrue}';
        })
        .attr('transform', function(d,i) {
            return 'translate(' + sourceStartPositions[i] + ')';
        })
        .each(function(d, i) {
            d3.select(this).append('rect').attr('x', -170).attr('y', -20).attr('width',170).attr('height',30).attr('rx',15).attr('ry',25).style('fill', typeColors[i%typeColors.length]);
            d3.select(this).append('text').attr('x', -50).attr('y', 0).text(sources[i]).attr('text-anchor','end');
        });
        var link = d3.linkHorizontal().source(function(d){return typeStartPositions[d.type]}).target(function(d){return sourceStartPositions[d.source]});
        var links = []
        for (i=0; i<typesource.length; i++) {
            for (var j=0; j<typesource[i].length; j++) {
                links.push({
                    source: typesource[i][j],
                    type: i
                });
            }
        }
        var colors = d3.quantize(gradient, links.length);
        pathG.selectAll('path').data(links).enter().append('path').attr('stroke', function(d,i){return colors[i]}).attr('d', function(d){return link(d)}).attr('opacity',0.3);

        function animateVisualization() {
            d3.select(this).on('mouseover', null);
            circleG.selectAll('g.viz-types').transition().duration(900).attr('transform',function(d,i) {
                return 'translate(' + typeEndPositions[i] + ')';
            });
            circleG.selectAll('g.viz-sources').transition().duration(900).attr('transform',function(d,i) {
                return 'translate(' + sourceEndPositions[i] + ')';
            });
            link.source(function(d){return typeEndPositions[d.type]}).target(function(d){return sourceEndPositions[d.source]});
            pathG.selectAll('path').transition().duration(900).attr('d', function(d){return link(d)}).attr('opacity', 0.8);

            var handleEvents = function() {
                var resetColors = function(d, i) {
                    circleG.selectAll('g.viz-types rect').transition().duration(500).style('fill', function(d,i){return typeColors[i]});
                    pathG.selectAll('path').transition().duration(500).attr('stroke', function(d, j) {return colors[j]});
                    circleG.selectAll('g.viz-sources rect').transition().duration(500).style('fill', function(d,j){return typeColors[j%typeColors.length]});
                };
                circleG.selectAll('g.viz-types').on('mouseover', function(d, i) {
                    circleG.selectAll('g.viz-types rect').transition().duration(500).style('fill', function(d, j) {
                        if (i!==j) {
                            return '#EEE';
                        }
                        else {
                            return typeColors[j];
                        }
                    });
                    pathG.selectAll('path').transition().duration(500).attr('stroke', function(d, j) {
                        if (d.type != i) {
                            return '#EEE';
                        }
                        else {
                            return colors[j];
                        }
                    });
                    circleG.selectAll('g.viz-sources rect').transition().duration(500).style('fill', function(d, j) {
                        if (typesource[i].indexOf(j) == -1) {
                            return '#EEE';
                        }
                        else {
                            return typeColors[j%typeColors.length];
                        }
                    });
                })
                .on('mouseout', resetColors)
                .on('click', function(e) {
                    window.location = $(this).data('href');
                });
                circleG.selectAll('g.viz-sources').on('mouseover', function(d, i) {
                    circleG.selectAll('g.viz-sources rect').transition().duration(500).style('fill', function(d, j) {
                        if (i!==j) {
                            return '#EEE';
                        }
                        else {
                            return typeColors[j%typeColors.length];
                        }
                    });
                    pathG.selectAll('path').transition().duration(500).attr('stroke', function(d, j) {
                        if (d.source != i) {
                            return '#EEE';
                        }
                        else {
                            return colors[j];
                        }
                    });
                    circleG.selectAll('g.viz-types rect').transition().duration(500).style('fill', function(d, j) {
                        if (typesource[j].indexOf(i) == -1) {
                            return '#EEE';
                        }
                        else {
                            return typeColors[j];
                        }
                    });
                })
                .on('mouseout', resetColors)
                .on('click', function(e) {
                    window.location = $(this).data('href');
                });
            }
            var timer = d3.timer(function() {
                timer.stop();
                handleEvents();
            }, 900);
        };
        d3.select('#visualization-background').on('mouseover', animateVisualization);
    </script>
</div>
