<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>United Nations - Science, Technology and Innovation</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/base.css">
    </head>
    <body>
        <nav class="header navbar">
            <div class="container-fluid">
                <div class="header-title navbar-left">
                    <a href="/base.html">
                    <img width="25px" src="static/images/un-logo.svg" style="margin-top:-0.2em" />
                    <b>United Nations</b> - Science, Technology and Innovation
                    </a>
                </div>
                <div class="header-title navbar-right">
                    <a href="profile.html">My Profile</a><span style="margin-right:100px"></span>
                </div>
            </div>
        </nav>
        <div id="aboutUs" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">About Us</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                        This project is a follow up to the <a href="https://scitechmatcher.uniteideas.spigit.com/Page/Home">Unite Ideas Challenge #SciTechMatcher</a>
                        </p>
                        <p>
                        It is being implemented by members of the <a href="https://sustainabledevelopment.un.org/tfm#un">UN interagency task team on STI for the SDGs</a>, and is coordinated by the <a href="https://sustainabledevelopment.un.org/">United Nations Department of Economic and Social Affairs (UNDESA)</a> and the <a href="https://unite.un.org/">United Nations Office of Information and Communications Technology (UNOICT)</a>.
                        </p>
                        <p>
                        The objective is to illustrate possible functionalities of the <a href="https://sustainabledevelopment.un.org/TFM#online">Online Platform for the Technology Facilitation Mechanism</a> of the Sustainable Development Goals.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="demoOverlay">
            <img src="static/images/demo.svg" />
        </div>
        <div id="featureContainer" class="search">
            <div class="container">
                <div class="row">
                    <div class="intro text-center">
                        <img src="static/images/TFM.png" />
                        <h3 class="subtitle" style="margin-top:1.5em">A gateway to information on existing Science Technology and Innovation initiatives, mechanisms and programs for Sustainable Development.</h3>
                    </div>
                </div>
                <div class="row" style="margin-top:0.7em; margin-bottom:7em">
                    <div class="col-sm-4 features">
                         <div id="search" class="collapse in text-center featureContent">
                            <h1 class="featureIcon"><span class="glyphicon glyphicon-search icons" /></h1>
                            <h4 class="featureTitle">Search</h4>
                            <form action="/search/" class="text-center">
                                <input type="text" name="query"/>
                                <div style="display:inline-block; width:40px; margin-left:-5px">
                                    <button id="searchButton" type="submit" class="btn btn-secondary"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4 features">
                        <div class="need text-center featureContent">
                            <h1 class="featureIcon"><span class="glyphicon glyphicon-pencil icons" /></h1>
                            <h4 class="featureTitle">Request / Offer</h4>
                            <!-- <center>If you would like to request or offer an opportunity, let us know and we will forward it to our network members</center> -->
                            <button id="requestButton" class="btn btn-secondary featureButtons" data-toggle="collapse" data-target="#need">Make a request or offer</button>
                        </div>
                    </div>
                    <div class="col-sm-4 features">
                         <div class="text-center featureContent">
                            <h1 class="featureIcon"><span class="glyphicon glyphicon-user icons" /></h1>
                            <h4 class="featureTitle">Get Recommendations</h4>
                            <button id="suscribeButton" class="btn btn-secondary featureButtons">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div id="need" class="need-data collapse">
                    <form class="form-horizontal col-xs-12">
                        <div class="form-group">
                            <label for="needType" class="col-xs-2 control-label">I would like to</label>
                            <div class="col-xs-10">
                                <select id="needType" class="form-control">
                                    <option>Request technology</option>
                                    <option>Offer technology</option>
                                    <option>Request a business opportunity</option>
                                    <option>Offer a business opportunity</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                        <label for="needDescription" class="col-xs-2 control-label">Description</label>
                            <div class="col-xs-10">
                                <textarea id="needDescription" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12" style="margin:23px auto 12px auto;"><center>I can be contacted at</center></div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-1" for="needCompanyName">Name</label>
                                <div class="col-xs-3">
                                    <input id="needCompanyName" class="form-control" type="text"/>
                                </div>
                                <label class="col-xs-1" for="needCompanyAddress">Address</label>
                                <div class="col-xs-3">
                                    <input id="needCompanyAddress" class="form-control" type="text" />
                                </div>
                                <label class="col-xs-1" for="needCompanyEmail">Email</label>
                                <div class="col-xs-3">
                                    <input id="needCompanyEmail" class="form-control" type="email"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" style="margin:23px auto 12px auto;"><center>Submit my details to</center></div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="apctt" checked/>
                                    <label for="apctt"><img class="partner-logo" src="static/images/apctt-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="cittc" checked/>
                                    <label for="cittc"><img class="partner-logo" src="static/images/cittc-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="unido" checked/>
                                    <label for="unido"><img class="partner-logo" src="static/images/unido-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="wipogreen" checked/>
                                    <label for="wipogreen"><img class="partner-logo" src="static/images/wipo-green-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="een" checked/>
                                    <label for="een"><img class="partner-logo" src="static/images/een-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="unfccc" checked/>
                                    <label for="unfccc"><img class="partner-logo" src="static/images/unfccc-logo.png" /></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:21px;">
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="unossc" checked/>
                                    <label for="unossc"><img class="partner-logo" src="static/images/unossc-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="openaire" checked/>
                                    <label for="openaire"><img class="partner-logo" src="static/images/openaire-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="undesa" checked/>
                                    <label for="undesa"><img class="partner-logo" src="static/images/undesa-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="unoict" checked/>
                                    <label for="unoict"><img class="partner-logo" src="static/images/unoict-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="worldbank" checked/>
                                    <label for="worldbank"><img class="partner-logo" src="static/images/world-bank-logo.png" /></label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="ctcn" checked/>
                                    <label for="ctcn"><img class="partner-logo" src="static/images/ctcn-logo.png" /></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:21px;">
                                <div class="col-xs-2">
                                    <input class="filter-partner" type="checkbox" id="wipomatch" checked/>
                                    <label for="wipomatch"><img class="partner-logo" src="static/images/wipo-match-logo.png" /></label>
                                </div>
                            </div>
                        </div>
                        <center><button id="submitButton" class="btn btn-info">Submit</button></center>
                    </form>
                    <center> Or </center>
                    <center><button class="btn btn-info" data-toggle="collapse" data-target="#featureContainer">Search</button></center>
                </div>
            </div>
        </div>
        <script>
            $('#need').on('show.bs.collapse', function() {
                $('#featureContainer').collapse('hide');
            })
            $('#featureContainer').on('show.bs.collapse', function() {
                $('#need').collapse('hide');
            });
        </script>
        <div class="container browse_social">
            <div class="col-sm-10 text-center" id="browseSection">
                <h2 class="sectionHeader">Browse</h2>
                <div class="row">
                    <div class="col-sm-6 browseColumns" id="networkMembers">
                        <div class="row browseTitle_head">
                            <h4 class="browseTitle">Network Members</h4>
                        </div>
                        <div class="row browseColumns_content">
                            <div class="row">
                                <div class="classify-card-partner col-sm-4">
                                    <a href="/search/?partners={&quot;apctt&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/apctt-logo.png' />
                                        <div class="classify-expand-partners-name">APCTT</div>
                                    </a>
                                </div>
                                <div class="classify-card-partner col-sm-4">
                                    <a href="/search/?partners={&quot;cittc&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/cittc-logo.png' />
                                        <div class="classify-expand-partners-name">CITTC</div>
                                    </a>
                                </div>
                                <div class="classify-card-partner col-sm-4">
                                    <a href="/search/?partners={&quot;wipogreen&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/wipo-green-logo.png' />
                                        <div class="classify-expand-partners-name">WIPO GREEN</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="classify-card-partner col-sm-5">
                                    <a href="/search/?partners={&quot;unido&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/unido-logo.png' />
                                        <div class="classify-expand-partners-name">UNIDO</div>
                                    </a>
                                </div>
                                 <div class="classify-card-partner col-sm-2">
                                    <a href="/search/?partners={&quot;unfccc&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/unfccc-logo.png' />
                                        <div class="classify-expand-partners-name">UNFCCC</div>
                                    </a>
                                </div>
                                <div class="classify-card-partner col-sm-5">
                                    <a href="/search/?partners={&quot;unossc&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/unossc-logo.png' />
                                        <div class="classify-expand-partners-name">UNOSSC</div>
                                    </a>
                                </div>

                            </div>
                            <div class="row">
                                 <div class="classify-card-partner col-sm-4">
                                    <a href="/search/?partners={&quot;ctcn&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/ctcn-logo.png' />
                                        <div class="classify-expand-partners-name">CTCN</div>
                                    </a>
                                </div>
                                <div class="classify-card-partner col-sm-3">
                                    <a href="/search/?partners={&quot;openaire&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/openaire-logo.png' />
                                        <div class="classify-expand-partners-name">OpenAire</div>
                                    </a>
                                </div>
                                <div class="classify-card-partner col-sm-3">
                                    <a href="/search/?partners={&quot;undesa&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/undesa-logo.png' />
                                        <div class="classify-expand-partners-name">UNDESA</div>
                                    </a>
                                </div>          
                                <div class="classify-card-partner col-sm-2">
                                    <a href="/search/?partners={&quot;een&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/een-logo.png'/>
                                        <div class="classify-expand-partners-name">EEN</div>
                                    </a>
                                </div>                      
                            </div>
                            <div class="row text-center">
                                 <div class="classify-card-partner col-sm-5">
                                    <a href="/search/?partners={&quot;unoict&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/unoict-logo.png' />
                                        <div class="classify-expand-partners-name">UNOICT</div>
                                    </a>
                                </div>
                                 <div class="classify-card-partner col-sm-3">
                                    <a href="/search/?partners={&quot;wipomatch&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/wipo-match-logo.png' />
                                        <div class="classify-expand-partners-name">WIPO Match</div>
                                    </a>
                                </div>
                                <div class="classify-card-partner col-sm-4">
                                    <a href="/search/?partners={&quot;worldbank&quot;%3Atrue}">
                                        <img class="classify-expand-partners-logo" src='static/images/world-bank-logo.png' />
                                        <div class="classify-expand-partners-name">World Bank</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 browseColumns" id="categories">
                        <div class="row browseTitle_head">
                            <h4 class="browseTitle">Categories</h4>
                        </div>
                        <div class="row browseColumns_content" id="categories_content">
                            <div class="browse-types row">
                                <a href="/search/?types={&quot;businessoffers&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-bullhorn"></i></div>
                                        <div class="browse-type-title">Business Offers</div>
                                    </div>
                                </a>
                                <a href="/search/?types={&quot;businessrequests&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-briefcase"></i></div>
                                        <div class="browse-type-title">Business Requests</div>
                                    </div>
                                </a>
                                <a href="http://sdg-calendar.us-east-2.elasticbeanstalk.com/">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-calendar"></i></div>
                                        <div class="browse-type-title">Events</div>
                                    </div>
                                </a>
                                
                                
                            </div>
                            <div class="row">
                                <a title="Coming soon..">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-bank"></i></div>
                                        <div class="browse-type-title">Funding</div>
                                    </div>
                                </a>
                                <a href="/search/?types={&quot;people&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-address-book-o"></i></div>
                                        <div class="browse-type-title">People</div>
                                    </div>
                                </a>
                                <a href="/search/?types={&quot;projects&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-cube"></i></div>
                                        <div class="browse-type-title">Projects</div>
                                    </div>
                                </a>
                                
                            </div>
                            <div class="row">
                                <a href="/search/?types={&quot;publications&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-book"></i></div>
                                        <div class="browse-type-title">Publications</div>
                                    </div>
                                </a>
                                <a title="Coming soon..">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-list"></i></div>
                                        <div class="browse-type-title">Services</div>
                                    </div>
                                </a>
                                <a href="/search/?types={&quot;technologyoffers&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-code-fork"></i></div>
                                        <div class="browse-type-title">Technology Offers</div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <a href="/search/?types={&quot;technologyrequests&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-handshake-o"></i></div>
                                        <div class="browse-type-title">Technology Requests</div>
                                    </div>
                                </a>
                                <a href="/search/?types={&quot;training&quot;%3Atrue}">
                                    <div class="browse-type col-sm-4">
                                        <div class="categoryIcons"><i class="fa fa-lg fa-graduation-cap"></i></div>
                                        <div class="browse-type-title">Training</div>
                                    </div>
                                </a>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-center" id="socialSection">
                <div class="row socialRows">
                    <h3 class="socialTitle"><i class="fa fa-newspaper-o"></i> Latest News</h3>
                    <div class="content">
                        <div class="news">
                            <div class="row">
                                <div class="col-sm-2 news-date">
                                    <div class="news-date-month">Mar</div>
                                    <div class="news-date-day">9</div>
                                    <div class="news-date-year">2018</div>
                                </div>
                                <div class="col-sm-10 news_content">
                                    <h5 class="news_title"><b>Projects from the UNFCCC now available on the online platform</b></h5>
                                    <p class="news_body">We welcome our latest network member, the United Nations Framework Convention on Climate Change (UNFCCC). Their projects will make a valuable addition to our existing data.</p>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-sm-2 news-date">
                                    <div class="news-date-month">Mar</div>
                                    <div class="news-date-day">9</div>
                                    <div class="news-date-year">2018</div>
                                </div>
                                <div class="col-sm-10 news_content">
                                    <h5 class="news_title"><b>Workshop on Science, Technology and Innovation for the SDGs</b></h5>
                                    <p class="news_body">UN DESA, in collaboration with UNCTAD, organized a three-day workshop on Science, Technology and Innovation (STI) for the achievement of the Sustainable Development Goals (SDGs) as a major preparatory event for the 2018 STI Forum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row socialRows">
                    <h3 class="socialTitle"><i class="fa fa-lg fa-twitter"></i> Latest Tweets</h3>
                    <div style="display:block; margin:auto; padding-left:1em; width:95%; height: 220px; overflow:auto">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/UN_UniteIdeas?ref_src=twsrc%5Etfw">Tweets by UN_UniteIdeas</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
        <nav class="footer navbar navbar-bottom">
            <div class="container">
                <div class="col-sm-9">
                    <h5>An initiative by the United Nations Department of Economic and Social Affairs and the United Nations Office of Information and Communications Technology</h5>
                </div>
                <div class="col-sm-3">
                    <h5 style="font-weight:normal">
                        <ul>
                            <li style="float:right"><i class="fa fa-lg fa-twitter"></i></li>
                            <li class="footerLinks"><i class="fa fa-lg fa-facebook"></i></li>
                            <li class="footerLinks"><a class="footerLinks_text" href="https://www.un.org/en/sections/about-website/fraud-alert/index.html">Fraud alert</a></li>
                            <li class="footerLinks"><a class="footerLinks_text" href="#">Contact</a></li>
                            <li class="footerLinks"><a class="footerLinks_text" href="#" data-toggle="modal" data-target="#aboutUs">About Us</a></li>
                        </ul>
                    </h5>
                </div>
            </div>
        </nav>
        <script>
            function fixFooter() {
                if ($('body').height() < window.screen.height) {
                    $('.footer').addClass('navbar-fixed-bottom');
                    $('body').css('padding-bottom',($('.footer').height() + 27) + 'px');
                }
                else {
                    $('.footer').removeClass('navbar-fixed-bottom');
                    $('body').css('padding-bottom','');
                }
            }
            fixFooter();
            $(window).on('resize', fixFooter);
        </script>
    </body>
</html>
