{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    #demoOverlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 64px;
        height: 64px;
    }
    .section {
        padding: 35px 0;
    }
    .search {
        background: linear-gradient(90deg,#D2FFEF,#C6E3FF);
        text-shadow: 0 0 3px #FFF;
    }
    .search .intro {
        margin-top: 27px;
        text-align: center;
    }
    .intro img {
        max-width: 100%;
    }
    .search form {
        margin-top: 27px;
    }
    .search input {
        border: 1px solid #AAA;
        padding: 5px;
    }
    #searchButton {
        margin: 27px auto;
    }
    .classify {
        margin: 21px 0 0 0;
    }
    .classify_card {
        padding: 0;
        box-shadow: 1px 1px 21px #EEE;
        min-height: 100%;
        margin-bottom: 21px;
        cursor: pointer;
    }
    .classify_img {
        padding: 21px;
        height: 210px;
        text-align: center;
    }
    .partner_img {
        background-image: url('{% static 'images/institute.png' %}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .classify-expand-partners-logo, .classify-expand-sdgs-logo {
        height: 53px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .classify-expand-sdgs-logo {
        margin: 7px 0;
    }
    .classify-expand-partners-name {
        text-align: center;
        margin: 7px 0 23px 0;
    }
    .classify_description {
        background-color: #EEE;
        padding: 21px;
        color: #333;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .browse {
        background-color: #C6E3FF;
        background: linear-gradient(90deg,#D2FFEF,#C6E3FF);
    }
    .browse-title {
        text-align: center;
        margin: 13px 0;
    }
    .browse-types {
        margin: 13px 0;
    }
    .browse-type {
        text-align: center;
        cursor: pointer;
    }
    .browse-type i {
        width: 53px;
        height: 53px;
        padding-top: 20px;
        background-color: rgba(255,255,255,0.53);
        color: #454647;
        border-radius: 53px;
    }
    .browse-type-title {
        padding: 13px 0;
    }
    .news {
        margin: 35px 0;
        clear: both;
        min-height: 65px;
    }
    .news-date {
        border: 1px solid #B6B7B9;
        float: left;
        padding: 1px 10px;
        margin-right: 21px;
        border-radius: 4px;
        text-align: center;
    }
    .news-date-month, .news-date-year {
        font-size: 12px;
    }
    .news-date-day {
        font-size: 16px;
        font-weight: bold;
    }
    .news-title {
        font-weight: bold;
    }
    .join {
        background-color: #C6E3FF;
        background: linear-gradient(90deg,#D2FFEF,#C6E3FF);
    }
    .join .container .col-xs-12 div {
        margin-bottom: 16px;
    }
</style>
{% endblock style %}
{% block content %}
        <div id="demoOverlay">
            <img src="{% static 'images/demo.svg' %}" />
        </div>
        <div class="search">
            <div class="container">
                <div class="intro col-xs-12">
                    <img src="{% static 'images/TFM.png' %}" />
                </div>
                <form action="/search" class="col-xs-12">
                <input class="col-xs-12" type="text" name="query" />
                <center><button id="searchButton" type="submit" class="btn btn-info">Search</button></center>
                </form>
            </div>
        </div>
        <div class="classify section">
            <div class="container">
                <div class="classify_card col-xs-12 col-sm-3 col-sm-offset-1">
                    <a href="#classify-expand-sdgs" data-toggle="collapse">
                        <div class="classify_img">
                            <img src="{% static 'images/E_SDG_logo_with_UN_Emblem_square_rgb.png' %}"/>
                        </div>
                        <div class="classify_description">
                            View technological opportunities for each Sustainable Development Goal
                        </div>
                    </a>
                </div>
                <div class="classify_card col-xs-12 col-sm-3 col-sm-offset-1">
                    <div class="classify_img">
                        <img src="{% static 'images/location.png' %}" />
                    </div>
                    <div class="classify_description">Select a location to view technology offers relevant to your country</div>
                </div>
                <div class="classify_card col-xs-12 col-sm-3 col-sm-offset-1">
                    <a href="#classify-expand-partners" data-toggle="collapse">
                        <div class="classify_img partner_img">
                        </div>
                        <div class="classify_description">View all data from our partner organizations</div>
                    </a>
                </div>
            </div>
        </div>
        <div id="classify-expand">
            <div class="container panel">
                <div id="classify-expand-sdgs" class="col-xs-12 collapse" data-parent="#classify-expand">
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/1/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-01.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/2/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-02.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/3/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-03.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/4/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-04.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/5/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-05.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/6/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-06.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/7/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-07.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/8/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-08.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/9/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-09.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/10/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-10.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/11/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-11.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/12/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-12.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1 col-lg-offset-3">
                        <a href="/sdg/13/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-13.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/14/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-14.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/15/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-15.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/16/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-16.jpg' %}');"></div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/sdg/17/">
                            <div class="classify-expand-sdgs-logo" style="background-image:url('{% static 'images/sdg_icons/SDG-17.jpg' %}');"></div>
                        </a>
                    </div>
                </div>
                <div id="classify-expand-partners" class="col-xs-12 collapse" data-parent="#classify-expand">
                    <div class="col-xs-4 col-sm-2 col-lg-1 col-lg-offset-3">
                        <a href="/all/source/apctt/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/apctt-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">APCTT</div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/all/source/cittc/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/cittc-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">CITTC</div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/all/source/unido/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/unido-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">UNIDO</div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/all/source/wipogreen/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/wipo-green-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">WIPO GREEN</div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/all/source/een/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/een-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">EEN</div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/all/source/unossc/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/unossc-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">UNOSSC</div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <a href="/all/source/openaire/">
                            <div class="classify-expand-partners-logo" style="background-image:url('{% static 'images/openaire-logo.png' %}');"></div>
                            <div class="classify-expand-partners-name">OpenAire</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="browse">
            <div class="container">
                <div class="browse-title title">
                    Browse
                </div>
                <div class="browse-types col-xs-12">
                    <a href="/all/publications/">
                    <div class="browse-type col-sm-2 col-sm-offset-1">
                        <div><i class="fa fa-lg fa-book"></i></div>
                        <div class="browse-type-title">Publications</div>
                    </div>
                    </a>
                    <a href="/all/technology-offers/">
                    <div class="browse-type col-sm-2">
                        <div><i class="fa fa-lg fa-code-fork"></i></div>
                        <div class="browse-type-title">Technology Offers</div>
                    </div>
                    </a>
                    <a href="/all/technology-requests/">
                    <div class="browse-type col-sm-2">
                        <div><i class="fa fa-lg fa-handshake-o"></i></div>
                        <div class="browse-type-title">Technology Requests</div>
                    </div>
                    </a>
                    <a href="/all/business-offers/">
                    <div class="browse-type col-sm-2">
                        <div><i class="fa fa-lg fa-bullhorn"></i></div>
                        <div class="browse-type-title">Business Offers</div>
                    </div>
                    </a>
                    <a href="/all/business-requests/">
                    <div class="browse-type col-sm-2">
                        <div><i class="fa fa-lg fa-briefcase"></i></div>
                        <div class="browse-type-title">Business Requests</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="latest section">
            <div class="container">
                <div class="col-xs-12">
                    <div class="title">Latest News</div>
                    <div class="content">
                        {% for news in events %}
                        <div class="news">
                            <div class="news-date">
                                <div class="news-date-month">{{news.date|date:'M'}}</div>
                                <div class="news-date-day">{{news.date|date:'j'}}</div>
                                <div class="news-date-year">{{news.date|date:'o'}}</div>
                            </div>
                            <div class="news-title">{{news.title}}</div>
                            <div class="news-content">
                                {{news.description}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="join section">
            <div class="container">
                <div class="col-xs-12">
                    <div class="title">Become a partner</div>
                    <div class="content">
                        If you or your organization are involved in providing services related to the transfer of technology or scientific innovation, we would love to get in touch. Contact us for collaborative opportunities.
                    </div>
                    <button class="btn btn-info">Contact Us</button>
                </div>
            </div>
        </div>
{% endblock content %}
