{% extends "sti/all.html" %}
{% block content %}
<div class="topresults">
    <div class="filter">
        <div class="container">
            <div class="col-xs-12 filter-detail">
                <ul class="col-xs-12 nav nav-pills" role="tablist">
                    <li class="active">
                        <a href="#recommended" role="tab" data-toggle="tab">Top recommendations</a>
                    </li>
                    <li>
                        <a href="#all" role="tab" data-toggle="tab">All content</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="recommended">
            <div class="container">
                {% for data in recommendations %}
                    {% if data.results|length > 0 %}
                        <div class="col-xs-12 recommended-content-type">
                            {{data.type}}
                        </div>
                        {% for row in data.results %}
                        {% if data.results|length == 3 %}
                        <div class="col-xs-12 col-md-4">
                        {% elif data.results|length == 2 %}
                        <div class="col-xs-12 col-md-6">
                        {% else %}
                        <div class="col-xs-12 col-md-12">
                        {% endif %}
                            {% include "sti/search-result.html" with row=row %}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="all">
            {% include "sti/filterable-results-list.html" %}
        </div>
    </div>
</div>
{% endblock content %}
