{% extends "sti/all.html" %}
{% block content %}
<div class="topresults">
    <div class="filter">
        <div class="container">
            <div class="col-xs-12">
                <ul class="col-xs-12 nav nav-pills" role="tablist">
                    <li class="active">
                        <a href="#recommended" role="tab" data-toggle="tab">Top recommendations</a>
                    </li>
                    <li>
                        <a href="#all" role="tab" data-toggle="tab">All content</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="recommended">
            <div class="container">
                {% if publications|length > 0 %}
                    <div class="col-xs-12 recommended-content-type">
                        Publications
                    </div>
                    {% for row in publications %}
                    {% if publications|length == 3 %}
                    <div class="col-xs-4">
                    {% elif publications|length == 2 %}
                    <div class="col-xs-6">
                    {% else %}
                    <div class="col-xs-12">
                    {% endif %}
                        {% include "sti/search-result.html" with row=row %}
                    </div>
                    {% endfor %}
                {% endif %}
                {% if business|length > 0 %}
                    <div class="col-xs-12 recommended-content-type">
                        Business Opportunities
                    </div>
                    {% for row in business %}
                    {% if business|length == 3 %}
                    <div class="col-xs-4">
                    {% elif business|length == 2 %}
                    <div class="col-xs-6">
                    {% else %}
                    <div class="col-xs-12">
                    {% endif %}
                        {% include "sti/search-result.html" with row=row %}
                    </div>
                    {% endfor %}
                {% endif %}
                {% if technology|length > 0 %}
                    <div class="col-xs-12 recommended-content-type">
                        Technical Collaboration
                    </div>
                    {% for row in technology %}
                    {% if technology|length == 3 %}
                    <div class="col-xs-4">
                    {% elif technology|length == 2 %}
                    <div class="col-xs-6">
                    {% else %}
                    <div class="col-xs-12">
                    {% endif %}
                        {% include "sti/search-result.html" with row=row %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="all">
            {% include "sti/filterable-results-list.html" %}
        </div>
    </div>
</div>
{% endblock content %}
